extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        
        h1 Alondra Camargo

        
        p Full Stack JavaScript Developer


        .about-bio

          
          p Hi, I'm Alondra! I am a Software Developer Apprentice learning Full Stack JavaScript. My professional background includes working in the intelligence community and in international relations. I made to switch into developing as I sought to colloborate with more folks to make a change throuogh technology.


      .skills-contact-box.box
        h6 Skills

         
        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info


        ul
          li 818-447-6111
          li alocam30@gmail.com

        
        a.btn-link(href='https://www.linkedin.com/in/alondra-camargo-ba618a137') LinkedIn
        a.btn-link(href='https://github.com/alocam30') GitHub


    nav.nav
      a(href='/')
        span &larr;
        |  Back
