extends layout.pug

block content

  article.portfolio-intro

    
    h1 Hey, Potential Employers!

   
    p Below you will find projects that I've built along my coding journey.


  article.portfolio-project-thumbs
    .projects-box.box.grid
      
      each project in projects
        .cell
          a(href=`/projects/${project.id}`)
            img.thumbnail(src=`${project.image_urls}`, alt=`${project.project_name}`)
            h5= project.project_name

